[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://gitee.com/mirrors/pybind11.git
