.DS_Store
build/
demo/.ipynb_checkpoints/
demo/demo.tar
.vscode/
install/
/include
lib/static/
bin/
*~
*.swp
*.swo
*.output
build-g/
tags
*.orig
unittest/unittest_db
src/parser/lef/lib/
src/gui/console/lib/.tclsh-history
/share
